@* aboutUs Template File *@
@(param: Any)
<h2>Follow us on</h2>
	<ul class="soc">
		<li><a class="soc-linkedin" href="http://www.linkedin.com/company/knoldus-software-llp-" target="_blank"></a></li>
		<li><a class="soc-twitter" href="https://twitter.com/knolspeak" target="_blank"></a></li>
		<li><a class="soc-wordpress" href="http://blog.knoldus.com" target="_blank"></a></li>
		<li><a class="soc-github" href="https://github.com/knoldus" target="_blank"></a></li>
		<li><a class="soc-facebook" href="https://www.facebook.com/KnoldusSoftware" target="_blank"></a></li>
		<li><a class="soc-slideshare" href="http://www.slideshare.net/knoldus" target="_blank"></a></li>
		<!-- <li><a class="soc-google" href="#"></a></li> -->
		<li><a class="soc-reddit" href="http://www.reddit.com/domain/blog.knoldus.com/" target="_blank"></a></li>
	</ul>