@(titleName: String, page:String,pageInit:Int,total:Int)(content: Html)

<!DOCTYPE html>

<html>
    <head>
    <style>
.hid{
visibility: hidden;
}</style>
        	@title(titleName)
    	@styles(titleName)
 <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")"></script>
 
@*<link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap"))">*@
@*<script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>*@

    	
    </head>
    <body>
    	<div class="container" >
    		@header()
    		@*@sidebar()*@
    		@content
    	
    	<div style="position: fixed; bottom: 0%; ">@footer()</div>
    	
    	@scripts(titleName)
    	</div>
    </body>
</html>
