@* midPart Template File *@
@*@(empList:List[emp])*@
<div data-ng-app="MyApp" class="container data-ng-controller= "MyController" >
 <div class="row"> 
 	
  <div class="col-md-10" >
  	<table class="table table-striped ">
  		<div class="panel">
  			<div class="panel-heading"> Employee</div>
  				<tr>
					<th><a data-ng-click="sort='name'" href="#">Name</a></th>
					<th><a data-ng-click="sort='gender'"href="#">Gender</a></th>
					<th><a data-ng-click="sort='email'"href="#">Email</a></th>
					<th><a data-ng-click="sort='phone'"href="#">Phone</a></th>
					<th><a data-ng-click="sort='registered'"href="#">Date</a></th>
				</tr>
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				
				<tr>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
					<td>abc</td>
				</tr>
				
				
		</div>		
	</table>	
  </div>
</div>
	    

       
       
	  </div>