@* midPart Template File *@
@*@(empList:List[emp])*@

 <div class="row"> 
 	
<div class="col-md-12">
  	<table class="table table-striped ">
  		<div class="panel">
  			<div class="panel-heading"> Session List</div>
  				<tr>
					<th><a href="#">Name</a></th>
					<th><a href="#">Session Topic</a></th>
					<th><a href="#">Date</a></th>
					<th><a href="#">Email</a></th>
					<th><a href="#">Phone</a></th>
					
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				<tr>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
					<td>DemoData</td>
				</tr>
				
				</div>		
			</table>	
  		</div>
	</div>
